body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #f4f4f4;
    }
    
    #logo-container {
      text-align: center;
    }
    
    #logo {
      max-width: 200px;
    }
    